* {
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: .2rem;
}

#ceasar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

#main {
    position: absolute;
    left: 5;
    top: 0;
    z-index: 2;
    border: 0;
}

h1 {
    font-size: 48pt
}

h2 {
    color: white;
    background-color: black;
    font-size: 32pt;
    margin-top: 0;
}

div {
    border: 1px solid black;
    padding: 0
}

ul {
    list-style-type: "💣 ";
}

.p5Canvas {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    height: 0;
}